@model IEnumerable<AppMVC.Models.Participantes> 

@{
    ViewData["Title"] = "Cadastro";
}

<p>
    <a asp-action="Create">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodPar">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CodPar">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CodPar">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
